%h1 Comissões

%table
  %tr
    %th Data Venda
    %th Nome do Cliente
    %th Preço
    %th Comissão (%)
    %th Valor comissão
    %th Produto
    %th Plano

  - @sales.each do |sale|
    %tr
      %td= sale.sold_on
      %td=  Customer.find(sale.customer_id).name
      %td= sale.price
      %td= sale.percentage
      %td= sale.price_commission
      %td= Product.find(sale.product_id).name
      %td= sale.plan

%br
%p Total (Valor para comissão * Porcentagem):
=@total
