%h1 Todos os vendedores

%table
  %tr
    %th Nome
    %th Cpf
    %th
    %th
    %th

  - @employees.each do |employee|
    %tr
      %td= employee.name
      %td= employee.cpf
      %td= link_to 'Show', employee
      %td= link_to 'Edit', edit_employee_path(employee)
      %td= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Novo vendedor', new_employee_path
