= simple_form_for(@customer) do |f|
  = f.error_notification

  .inputs
    = f.input :name, :label => "Nome"
    = f.input :date_of_birth, :label => "Data de nascimento", :as => :date, :start_year => 1920
    = f.input :cpf, :label => "CPF (Ex: 01813918102)"
    = f.input :rg, :label => "RG (Ex: 001479013)"
    = f.input :address, :label => "Endereço (Ex: Rua, 12)"
    = f.input :neighborhood, :label => "Bairro"
    = f.input :city, :label => "Cidade"
    = f.input :cep, :label => "CEP (Ex: 89183120)"
    = f.input :work_address, :label => "Endereço trabalho (Ex: Rua, 12)"
    = f.input :phone_number, :label => "Telefone"
    = f.input :mobile_phone, :label => "Celular"

  .actions
    = f.button :submit, :value => "Salvar cliente"