%h1 Todos os clientes

%table
  %tr
    %th Nome
    %th Data de nascimento
    %th CPF
    %th RG
    %th Endereço
    %th Bairro
    %th Cidade
    %th CEP
    %th Telefone
    %th Celular
    %th
    %th

  - @customers.each do |customer|
    %tr
      %td= customer.name
      %td= customer.date_of_birth
      %td= customer.cpf
      %td= customer.rg
      %td= customer.address
      %td= customer.neighborhood
      %td= customer.city
      %td= customer.cep
      %td= customer.phone_number
      %td= customer.mobile_phone
      %td= link_to 'Editar', edit_customer_path(customer)
      %td= link_to 'Deletar', customer, :confirm => 'Deletar cliente?', :method => :delete

%br

= link_to 'Cadastrar novo cliente', new_customer_path
