%p#notice= notice

%p
  %b Nome:
  = @customer.name
%p
  %b Data de nascimento:
  = @customer.date_of_birth
%p
  %b CPF:
  = @customer.cpf
%p
  %b RG:
  = @customer.rg
%p
  %b Endereço:
  = @customer.address
%p
  %b Bairro:
  = @customer.neighborhood
%p
  %b Cidade:
  = @customer.city
%p
  %b CEP:
  = @customer.cep
%p
  %b Local de trabalho:
  = @customer.work_address
%p
  %b Telefone:
  = @customer.phone_number
%p
  %b Celular:
  = @customer.mobile_phone

= link_to 'Editar', edit_customer_path(@customer)
\|
= link_to 'Ver todos os clientes', customers_path
