%h1 Todos os produtos

%table
  %tr
    %th Nome
    %th Validade
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.validity
      %td= link_to 'Ver', product
      %td= link_to 'Editar', edit_product_path(product)

%br

= link_to 'Novo produto', new_product_path
