= simple_form_for(@sale) do |f|
  = f.error_notification

  .inputs
    = f.input :sold_on, :label => "Data venda",:as => :date, :start_year => Time.now.year - 2
    /= f.input :last_change_on, :as => :date, :start_year => Time.now.year - 1
    /= f.input :change_chamber, :as => :boolean
    = f.input :price, :label => "Preço"
    = f.input :plan, :label => "Plano", :as => :select, :collection => ["À vista", "1x", "2x", "3x", "4x", "9x", "10x", "11x", "12x"]
    = f.hidden_field :customer_id
    = f.input :customer_name, :label => "* Cliente"
    = f.input :product, :label => "* Produto", :as => :select, :collection => Product.all
    = f.input :employee, :label => "* Vendedor", :as => :select, :collection => Employee.all
    = f.label "Troca de câmara"
    = f.check_box(:change_chamber)
    = f.input :sale_id, :label => "Produto da troca",:as => :select, :collection => []

  .actions
    = f.button :submit, :value => "Salvar venda"
