%h1 Todas as vendas

%table
  %tr
    %th Data Venda
    %th Última Troca
    %th Preço
    %th Plano
    %th Vendedor
    %th Cliente
    %th Produto
    %th

  - @sales.each do |sale|
    %tr
      %td= sale.sold_on
      %td= sale.last_change_on
      %td= sale.price
      %td= sale.plan
      %td= sale.employee.name unless sale.employee == nil
      %td= sale.customer.name unless sale.customer == nil
      %td= sale.product.name unless sale.product == nil
      %td
        = link_to 'Ver', sale
        = link_to 'Apagar', sale, :confirm => 'Deletar esta venda?', :method => :delete
        = link_to 'Editar', edit_sale_path(sale)

%br

= paginate @sales
%br
= link_to 'Nova venda', new_sale_path
