%h1 Todas as vendas

%table
  %tr
    %th Data Venda
    %th Última Troca
    %th Preço
    %th Plano
    %th Vendedor
    %th Cliente
    %th Produto
    %th
    %th
    %th

  - @sales.each do |sale|
    %tr
      %td= sale.sold_on
      %td= sale.last_change_on
      %td= sale.price
      %td= sale.plan
      %td= Employee.find(sale.employee_id).name
      %td= Customer.find(sale.customer_id).name
      %td= Product.find(sale.product_id).name
      %td= link_to 'Ver', sale
      %td= link_to 'Apagar', sale, :confirm => 'Deletar esta venda?', :method => :delete

%br

= link_to 'Nova venda', new_sale_path
