%p#notice= notice

%p
  %b Data venda:
  = @sale.sold_on
%p
  %b Última troca:
  = @sale.last_change_on
%p
  %b Troca de câmara:
  = @sale.change_chamber ? "Sim" : "Não"
%p
  %b Preço:
  = @sale.price
%p
  %b Cliente:
  = @sale.customer.name
%p
  %b Produto:
  = @sale.product.name

= link_to 'Ver todas as vendas', sales_path
