%p#notice= notice

%p
  %b Data venda:
  = @sale.sold_on
%p
  %b Última troca:
  = @sale.last_change_on
%p
  %b Troca de câmara:
  = @sale.change_chamber ? "Sim" : "Não"
%p
  %b Preço:
  = @sale.price
%p
  %b Plano:
  = @sale.plan
%p
  %b Cliente:
  = @sale.customer.name unless @sale.customer == nil
%p
  %b Produto:
  = @sale.product.name unless @sale.product == nil
%p
  %b Vendedor:
  = @sale.employee.name unless @sale.employee == nil

= link_to 'Ver todas as vendas', sales_path
