%h1 Gerar relatório
= form_tag(reports_path, :method=>'get') do
  %p
    Cidade:
    %br/
    = text_field_tag "city"
  %p
    Bairro:
    %br/
    = text_field_tag "neighborhood"
  %p
    = submit_tag 'Enviar'
  %P
    = link_to "Ver todas as vendas", sales_path