%h1 Gerar relatório
= form_tag(reports_path, :method=>'get') do
  %p
    Cidade:
    = collection_select("city", "city", City.all, :name, :name)
  %p
    Bairro:
    = text_field_tag "neighborhood"
  %p
    = submit_tag 'Enviar'
  %P
    = link_to "Ver todas as vendas", sales_path
