<!DOCTYPE html>
<html>
  <head>
    <title>Europa Manager</title>
    <%= stylesheet_link_tag "application"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container" class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= link_to "Home", root_path %> -
      <%= link_to "Nova venda", new_sale_path %> -
      <%= link_to "Todas as vendas", sales_path %> -
      <%= link_to "Relatório de vendas", new_report_path %> -
      <%= link_to "Relatório de Comissões", new_commission_report_path %>
      <%= yield %>
    </div>
  </body>
</html>
